domain={{ domain }}

auth-server=ns.{{ domain }},{{ ansible_eth0.ipv4.address }}
auth-zone={{ domain }},{{ networks.node.cidr }}
auth-ttl=10

dhcp-authoritative

dhcp-option=option:dns-server,{{ ansible_eth1.ipv4.address }}

dhcp-range=node,{{ networks.node.cidr | ipaddr(networks.node.start_index + 4) | ipaddr('address') }},{{ networks.node.cidr | ipaddr(networks.node.start_index + 63) | ipaddr('address') }},1h
dhcp-option=node,option:router,{{ ansible_default_ipv4.gateway }}

dhcp-range=nfs,{{ networks.nfs.cidr | ipaddr(networks.nfs.start_index + 4) | ipaddr('address') }},{{ networks.nfs.cidr | ipaddr(networks.nfs.start_index + 63) | ipaddr('address') }},1h
dhcp-option=nfs,option:router
dhcp-option=nfs,option:mtu,9000
dhcp-ignore-names=nfs

dhcp-range=iscsia,{{ networks.iscsia.cidr | ipaddr(networks.iscsia.start_index + 4) | ipaddr('address') }},{{ networks.iscsia.cidr | ipaddr(networks.iscsia.start_index + 63) | ipaddr('address') }},1h
dhcp-option=iscsia,option:router
dhcp-option=iscsia,option:mtu,9000
dhcp-ignore-names=iscsia

dhcp-range=iscsib,{{ networks.iscsib.cidr | ipaddr(networks.iscsib.start_index + 4) | ipaddr('address') }},{{ networks.iscsib.cidr | ipaddr(networks.iscsib.start_index + 63) | ipaddr('address') }},1h
dhcp-option=iscsib,option:router
dhcp-option=iscsib,option:mtu,9000
dhcp-ignore-names=iscsib

host-record=ns.{{ domain }},{{ ns_ip }}
host-record=dnsmasq.{{ domain }},{{ dnsmasq_ip }}
host-record=pdns.{{ domain }},{{ pdns_ip }}

log-queries
