NM_CONTROLLED=no
DEVICE=br-{{ item.network }}
TYPE=Bridge
ONBOOT=yes
STP=off
DELAY=0
BOOTPROTO=none
{% if item.allocate_ip %}
IPADDR={{ networks[item.network]['cidr'] | ipaddr(networks[item.network]['start_index'] + network_index) | ipaddr('address') }}
NETMASK={{ networks[item.network]['cidr'] | ipaddr('netmask') }}
{% if networks[item.network]['gateway'] is defined %}
GATEWAY={{ networks[item.network]['gateway'] }}
{#
{% for item in [hostvars['ns1']['ansible_default_ipv4']['address'], hostvars['ns2']['ansible_default_ipv4']['address']] -%}
DNS{{ loop.index }}={{ item }}
{% endfor -%}
#}
{% endif %}
{% endif %}
